.chat-wrapper {
  width: 600px;
  height: auto;
  border: 4px solid rgb(0, 204, 255);
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.chat__input-wrapper {
  text-align: center;
}

.input__form {
  margin-top: 10px;
}

.input__text {
  margin-top: 10px;
  width: 315px;
  height: 25px;
  border: 3px solid rgb(0, 204, 255);
  border-radius: 3px;
}

.btn {
  height: 32px;
  background-color: rgb(0, 204, 255);
  border: 3px solid rgb(0, 204, 255);
  border-radius: 3px;
}

.chat__output {
  margin: 10px;
  border: 3px solid rgb(0, 204, 255);
  height: 270px;
  width: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid skyblue;
  width: fit-content;
  max-width: 55%;
}

.message-sent {
  display: block;
  text-align: justify;
}

.message-inbox {
  display: block;
  align-self: flex-end;
  text-align: justify;
}

p:nth-of-type(odd) {
  display: flex;
  align-self: flex-start;
}
p:nth-of-type(even) {
  display: flex;
  align-self: flex-end;
}
